<div>
    <h2 id="page-heading">
        <span>HCBT Models</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hcbt-model" [routerLink]="['/hcbt-model/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new HCBT Model
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="hCBTModels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Vendor Name</span></th>
            <th><span>Vendor Location</span></th>
            <th><span>Service Pillar</span></th>
            <th><span>Service Category</span></th>
            <th><span>Service Drilldown</span></th>
            <th><span>Sow Name</span></th>
            <th><span>Sow Number</span></th>
            <th><span>Po Number</span></th>
            <th><span>Delivery Poc</span></th>
            <th><span>Cisco Business Owner</span></th>
            <th><span>Chrgble Agent Num Wdnm Cases</span></th>
            <th><span>Projected Billable Heads M 1</span></th>
            <th><span>Projected Billable Heads M 2</span></th>
            <th><span>Projected Billable Heads M 3</span></th>
            <th><span>Fte Hourly Rate Dollar</span></th>
            <th><span>Projected Tbp Volume M 1</span></th>
            <th><span>Projected Tbp Volume M 2</span></th>
            <th><span>Projected Tbp Volume M 3</span></th>
            <th><span>Projected Other Vol M 1</span></th>
            <th><span>Projected Other Vol M 2</span></th>
            <th><span>Projected Other Vol M 3</span></th>
            <th><span>Aht In Minutes</span></th>
            <th><span>Dollar Rate Per Minute</span></th>
            <th><span>Other Volume Rate</span></th>
            <th><span>Inf Milestone Value M 1 Non Usd</span></th>
            <th><span>Inf Milestone Value M 2 Non Usd</span></th>
            <th><span>Inf Milestone Value M 3 Non Usd</span></th>
            <th><span>Inf Buffer Non Usd</span></th>
            <th><span>Inf Po Amount Non Usd</span></th>
            <th><span>Milestone Value M 1 Usd</span></th>
            <th><span>Milestone Value M 2 Usd</span></th>
            <th><span>Milestone Value M 3 Usd</span></th>
            <th><span>Buffer Usd</span></th>
            <th><span>Po Amount Usd</span></th>
            <th><span>Actual Billable Heads M 1</span></th>
            <th><span>Pay Act Billable Hours M 1</span></th>
            <th><span>Actual Billable Heads M 2</span></th>
            <th><span>Pay Act Billable Hours M 2</span></th>
            <th><span>Actual Billable Heads M 3</span></th>
            <th><span>Pay Act Billable Hours M 3</span></th>
            <th><span>Actual Tbp Volume M 1</span></th>
            <th><span>Actual Tbp Volume M 2</span></th>
            <th><span>Actual Tbp Volume M 3</span></th>
            <th><span>Actual Other Vol M 1</span></th>
            <th><span>Actual Other Vol M 2</span></th>
            <th><span>Actual Other Vol M 3</span></th>
            <th><span>Billing Adj Hitting M 1</span></th>
            <th><span>Billing Adj Hitting M 2</span></th>
            <th><span>Billing Adj Hitting M 3</span></th>
            <th><span>Actual Spend M 1 Usd</span></th>
            <th><span>Actual Spend M 2 Usd</span></th>
            <th><span>Actual Spend M 3 Usd</span></th>
            <th><span>Total Qtrly Spend Usd</span></th>
            <th><span>Actual Proj M 1 Diff Usd</span></th>
            <th><span>Actual Proj M 2 Diff Usd</span></th>
            <th><span>Actual Proj M 3 Diff Usd</span></th>
            <th><span>Actual Milestone M 3 Diff Per</span></th>
            <th><span>Actual Po Value Diff Per</span></th>
            <th><span>Retrospective Adj M 1</span></th>
            <th><span>Retrospective Adj M 2</span></th>
            <th><span>Retrospective Adj M 3</span></th>
            <th><span>Actual Retrospective Cost M 1</span></th>
            <th><span>Actual Retrospective Cost M 2</span></th>
            <th><span>Actual Retrospective Cost M 3</span></th>
            <th><span>Total Qtrly Retrospective Cost</span></th>
            <th><span>Change Impact</span></th>
            <th><span>Method</span></th>
            <th><span>Ot Rate</span></th>
            <th><span>App Ot Hrs M 1</span></th>
            <th><span>App Ot Hrs M 2</span></th>
            <th><span>App Ot Hrs M 3</span></th>
            <th><span>Ot Spend M 1</span></th>
            <th><span>Ot Spend M 2</span></th>
            <th><span>Ot Spend M 3</span></th>
            <th><span>Notes</span></th>
            <th><span>Chrgble Staff Hrs WDNM Cases</span></th>
            <th><span>Projected Billable Hrs M 1</span></th>
            <th><span>Projected Billable Hrs M 2</span></th>
            <th><span>Projected Billable Hrs M 3</span></th>
            <th><span>Cca Vendor Data Sk</span></th>
            <th><span>Payroll Hourly Rate Dollar</span></th>
            <th><span>Inf Actual Billable Hours M 1</span></th>
            <th><span>Inf Actual Billable Hours M 2</span></th>
            <th><span>Inf Actual Billable Hours M 3</span></th>
            <th><span>Inf Actual Spend M 1 Non Usd</span></th>
            <th><span>Inf Actual Spend M 2 Non Usd</span></th>
            <th><span>Inf Actual Spend M 3 Non Usd</span></th>
            <th><span>Inf Base Aht</span></th>
            <th><span>Inf Base Heads</span></th>
            <th><span>Cnx Base Rate</span></th>
            <th><span>Inf Currency</span></th>
            <th><span>Inf Currency Hourly Rate</span></th>
            <th><span>Fiscal Quater Name</span></th>
            <th><span>Actual Milestone M 1 Diff Per</span></th>
            <th><span>Actual Milestone M 2 Diff Per</span></th>
            <th><span>Qtrly Diff Actual Projection</span></th>
            <th><span>Inf Total Qtrly Spend Non Usd</span></th>
            <th><span>Data Flag</span></th>
            <th><span>Load Date</span></th>
            <th><span>Cnx Base Rate Fte</span></th>
            <th><span>Cnxbaseratetbp</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hCBTModel of hCBTModels ;trackBy: trackId">
                <td><a [routerLink]="['/hcbt-model', hCBTModel.id, 'view' ]">{{hCBTModel.id}}</a></td>
                <td>{{hCBTModel.vendorName}}</td>
                <td>{{hCBTModel.vendorLocation}}</td>
                <td>{{hCBTModel.servicePillar}}</td>
                <td>{{hCBTModel.serviceCategory}}</td>
                <td>{{hCBTModel.serviceDrilldown}}</td>
                <td>{{hCBTModel.sowName}}</td>
                <td>{{hCBTModel.sowNumber}}</td>
                <td>{{hCBTModel.poNumber}}</td>
                <td>{{hCBTModel.deliveryPoc}}</td>
                <td>{{hCBTModel.ciscoBusinessOwner}}</td>
                <td>{{hCBTModel.chrgbleAgentNumWdnmCases}}</td>
                <td>{{hCBTModel.projectedBillableHeadsM1}}</td>
                <td>{{hCBTModel.projectedBillableHeadsM2}}</td>
                <td>{{hCBTModel.projectedBillableHeadsM3}}</td>
                <td>{{hCBTModel.fteHourlyRateDollar}}</td>
                <td>{{hCBTModel.projectedTbpVolumeM1}}</td>
                <td>{{hCBTModel.projectedTbpVolumeM2}}</td>
                <td>{{hCBTModel.projectedTbpVolumeM3}}</td>
                <td>{{hCBTModel.projectedOtherVolM1}}</td>
                <td>{{hCBTModel.projectedOtherVolM2}}</td>
                <td>{{hCBTModel.projectedOtherVolM3}}</td>
                <td>{{hCBTModel.ahtInMinutes}}</td>
                <td>{{hCBTModel.dollarRatePerMinute}}</td>
                <td>{{hCBTModel.otherVolumeRate}}</td>
                <td>{{hCBTModel.infMilestoneValueM1NonUsd}}</td>
                <td>{{hCBTModel.infMilestoneValueM2NonUsd}}</td>
                <td>{{hCBTModel.infMilestoneValueM3NonUsd}}</td>
                <td>{{hCBTModel.infBufferNonUsd}}</td>
                <td>{{hCBTModel.infPoAmountNonUsd}}</td>
                <td>{{hCBTModel.milestoneValueM1Usd}}</td>
                <td>{{hCBTModel.milestoneValueM2Usd}}</td>
                <td>{{hCBTModel.milestoneValueM3Usd}}</td>
                <td>{{hCBTModel.bufferUsd}}</td>
                <td>{{hCBTModel.poAmountUsd}}</td>
                <td>{{hCBTModel.actualBillableHeadsM1}}</td>
                <td>{{hCBTModel.payActBillableHoursM1}}</td>
                <td>{{hCBTModel.actualBillableHeadsM2}}</td>
                <td>{{hCBTModel.payActBillableHoursM2}}</td>
                <td>{{hCBTModel.actualBillableHeadsM3}}</td>
                <td>{{hCBTModel.payActBillableHoursM3}}</td>
                <td>{{hCBTModel.actualTbpVolumeM1}}</td>
                <td>{{hCBTModel.actualTbpVolumeM2}}</td>
                <td>{{hCBTModel.actualTbpVolumeM3}}</td>
                <td>{{hCBTModel.actualOtherVolM1}}</td>
                <td>{{hCBTModel.actualOtherVolM2}}</td>
                <td>{{hCBTModel.actualOtherVolM3}}</td>
                <td>{{hCBTModel.billingAdjHittingM1}}</td>
                <td>{{hCBTModel.billingAdjHittingM2}}</td>
                <td>{{hCBTModel.billingAdjHittingM3}}</td>
                <td>{{hCBTModel.actualSpendM1Usd}}</td>
                <td>{{hCBTModel.actualSpendM2Usd}}</td>
                <td>{{hCBTModel.actualSpendM3Usd}}</td>
                <td>{{hCBTModel.totalQtrlySpendUsd}}</td>
                <td>{{hCBTModel.actualProjM1DiffUsd}}</td>
                <td>{{hCBTModel.actualProjM2DiffUsd}}</td>
                <td>{{hCBTModel.actualProjM3DiffUsd}}</td>
                <td>{{hCBTModel.actualMilestoneM3DiffPer}}</td>
                <td>{{hCBTModel.actualPoValueDiffPer}}</td>
                <td>{{hCBTModel.retrospectiveAdjM1}}</td>
                <td>{{hCBTModel.retrospectiveAdjM2}}</td>
                <td>{{hCBTModel.retrospectiveAdjM3}}</td>
                <td>{{hCBTModel.actualRetrospectiveCostM1}}</td>
                <td>{{hCBTModel.actualRetrospectiveCostM2}}</td>
                <td>{{hCBTModel.actualRetrospectiveCostM3}}</td>
                <td>{{hCBTModel.totalQtrlyRetrospectiveCost}}</td>
                <td>{{hCBTModel.changeImpact}}</td>
                <td>{{hCBTModel.method}}</td>
                <td>{{hCBTModel.otRate}}</td>
                <td>{{hCBTModel.appOtHrsM1}}</td>
                <td>{{hCBTModel.appOtHrsM2}}</td>
                <td>{{hCBTModel.appOtHrsM3}}</td>
                <td>{{hCBTModel.otSpendM1}}</td>
                <td>{{hCBTModel.otSpendM2}}</td>
                <td>{{hCBTModel.otSpendM3}}</td>
                <td>{{hCBTModel.notes}}</td>
                <td>{{hCBTModel.chrgbleStaffHrsWDNMCases}}</td>
                <td>{{hCBTModel.projectedBillableHrsM1}}</td>
                <td>{{hCBTModel.projectedBillableHrsM2}}</td>
                <td>{{hCBTModel.projectedBillableHrsM3}}</td>
                <td>{{hCBTModel.ccaVendorDataSk}}</td>
                <td>{{hCBTModel.payrollHourlyRateDollar}}</td>
                <td>{{hCBTModel.infActualBillableHoursM1}}</td>
                <td>{{hCBTModel.infActualBillableHoursM2}}</td>
                <td>{{hCBTModel.infActualBillableHoursM3}}</td>
                <td>{{hCBTModel.infActualSpendM1NonUsd}}</td>
                <td>{{hCBTModel.infActualSpendM2NonUsd}}</td>
                <td>{{hCBTModel.infActualSpendM3NonUsd}}</td>
                <td>{{hCBTModel.infBaseAht}}</td>
                <td>{{hCBTModel.infBaseHeads}}</td>
                <td>{{hCBTModel.cnxBaseRate}}</td>
                <td>{{hCBTModel.infCurrency}}</td>
                <td>{{hCBTModel.infCurrencyHourlyRate}}</td>
                <td>{{hCBTModel.fiscalQuaterName}}</td>
                <td>{{hCBTModel.actualMilestoneM1DiffPer}}</td>
                <td>{{hCBTModel.actualMilestoneM2DiffPer}}</td>
                <td>{{hCBTModel.qtrlyDiffActualProjection}}</td>
                <td>{{hCBTModel.infTotalQtrlySpendNonUsd}}</td>
                <td>{{hCBTModel.dataFlag}}</td>
                <td>{{hCBTModel.loadDate}}</td>
                <td>{{hCBTModel.cnxBaseRateFte}}</td>
                <td>{{hCBTModel.cnxbaseratetbp}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/hcbt-model', hCBTModel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hcbt-model', hCBTModel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hcbt-model/'+ hCBTModel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
